In [8]:
a = 10
b = 15
print(a+b)
print(a==b)
print(a!=b)

25
False
True

In [4]:
21/5

4.2

In [5]:
21//5

4

Comparison Operators

In [9]:
44>45

False

In [10]:
44!=45

True

# Logical Operators

And, Or, Not

In [11]:
X = True
Y = True
X and Y

True

In [12]:
X or Y

True

In [13]:
not X

False

# Conditional Statements

If
else
elif
nested conditional

In [15]:
age = 15
if age >= 18:
    print("You are allowed to vote")
else :
    print("You are a minor")

You are a minor

In [18]:
age = 18
if age <13:
    print("You are a child")
elif age<18 :
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [24]:
num = int(input("Enter a no. :"))
if num>=0:
    print("The no. is positive.")
    if num%2==0:
        print("The no. is even")
    else:
        print("The no. is odd")
else:
    print("the no is zero or negative")

The no. is positive.
The no. is odd

In [28]:
num1 = int(input("Enter no. 1 :"))
num2 = int(input("Enter no. 2 :"))
operation = input("Enter the operation (+ - *) :")
if operation == "+":
    print(num1+num2)
elif operation == "-":
    print(num1-num2)
elif operation == "*":
    print(num1*num2)
else:
    pass

-11

# Loops

In [29]:
range(5)

range(0, 5)

In [30]:
for i in range(5):
    print(i)

0
1
2
3
4

In [33]:
for i in range(2,5):
    print(i)

2
3
4

In [34]:
for i in range(2,5,2):
    print(i)

2
4

In [37]:
for i in range(10,8,-1):
    print(i)

10
9

In [ ]:
for i in range(10,4,-2):
    print(i)

10
8
6

In [40]:
# string is a collection of characters

str = "Sachin"
for i in str:
    print(i)

S
a
c
h
i
n

In [43]:
# break statement
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [44]:
# continue statement
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [45]:
# pass is a null operation

In [58]:
# Prime nos. between 1 and 100

check_no=15
for i in range(3,check_no+1):
    result = " is a prime no."
    for j in range(2,i):
        if i%j == 0:
            result = " is not a prime no."
            break
    print(i,result)

3  is a prime no.
4  is not a prime no.
5  is a prime no.
6  is not a prime no.
7  is a prime no.
8  is not a prime no.
9  is not a prime no.
10  is not a prime no.
11  is a prime no.
12  is not a prime no.
13  is a prime no.
14  is not a prime no.
15  is not a prime no.

In [66]:
# for else statement
for num in range(1,10):
    if num>1:
        # print("num = ",num)
        for i in range(2,num):
            # print("i = ",i)
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7

# Lists
- ordered, mutable collection of items
- can contain items of different data types

In [68]:
lst=[]
type(lst)

list

In [72]:
names=["sac", "sumit", "sahil",1,2,3,4]
print(names)

['sac', 'sumit', 'sahil', 1, 2, 3, 4]

In [73]:
for i in names:
    print(i)

sac
sumit
sahil
1
2
3
4

In [79]:
names[0]

'sac'

In [85]:
names[-1]

4

In [80]:
names[0][0]

's'

In [76]:
for i in names[0]:
    print(i)

s
a
c

In [84]:
print(names[1:])
print(names[1:2])

['sumit', 'sahil', 1, 2, 3, 4]
['sumit']

In [86]:
names[1]

'sumit'

In [87]:
names[1]="Ashish"

In [88]:
names[1]

'Ashish'

In [90]:
# List methods
names.append("orange")

In [91]:
names

['sac', 'Ashish', 'sahil', 1, 2, 3, 4, 'orange']

In [92]:
names.insert(1,"banana")

In [93]:
names

['sac', 'banana', 'Ashish', 'sahil', 1, 2, 3, 4, 'orange']

In [94]:
names.remove("banana")

In [95]:
names

['sac', 'Ashish', 'sahil', 1, 2, 3, 4, 'orange']

In [96]:
names.pop()

'orange'

In [97]:
names

['sac', 'Ashish', 'sahil', 1, 2, 3, 4]

In [98]:
print(names.index("sahil"))

2

In [99]:
names.insert(1,"banana")

In [100]:
names

['sac', 'banana', 'Ashish', 'sahil', 1, 2, 3, 4]

In [101]:
names.insert(5,"banana")

In [102]:
names

['sac', 'banana', 'Ashish', 'sahil', 1, 'banana', 2, 3, 4]

In [103]:
names.count("banana")

2

In [111]:
names.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [106]:
fruits = ["banana","apple","cherry","guava","watermelon"]

In [109]:
fruits.sort()

In [110]:
fruits

['apple', 'banana', 'cherry', 'guava', 'watermelon']

In [112]:
fruits.reverse()

In [113]:
fruits

['watermelon', 'guava', 'cherry', 'banana', 'apple']

In [115]:
fruits.clear()

In [116]:
fruits

[]

In [120]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [121]:
for index,number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10