In [8]:
a = 10
b = 15
print(a+b)
print(a==b)
print(a!=b)

25
False
True

In [4]:
21/5

4.2

In [5]:
21//5

4

Comparison Operators

In [9]:
44>45

False

In [10]:
44!=45

True

# Logical Operators

And, Or, Not

In [11]:
X = True
Y = True
X and Y

True

In [12]:
X or Y

True

In [13]:
not X

False

# Conditional Statements

If
else
elif
nested conditional

In [15]:
age = 15
if age >= 18:
    print("You are allowed to vote")
else :
    print("You are a minor")

You are a minor

In [18]:
age = 18
if age <13:
    print("You are a child")
elif age<18 :
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [24]:
num = int(input("Enter a no. :"))
if num>=0:
    print("The no. is positive.")
    if num%2==0:
        print("The no. is even")
    else:
        print("The no. is odd")
else:
    print("the no is zero or negative")

The no. is positive.
The no. is odd

In [28]:
num1 = int(input("Enter no. 1 :"))
num2 = int(input("Enter no. 2 :"))
operation = input("Enter the operation (+ - *) :")
if operation == "+":
    print(num1+num2)
elif operation == "-":
    print(num1-num2)
elif operation == "*":
    print(num1*num2)
else:
    pass

-11

# Loops

In [29]:
range(5)

range(0, 5)

In [30]:
for i in range(5):
    print(i)

0
1
2
3
4

In [33]:
for i in range(2,5):
    print(i)

2
3
4

In [34]:
for i in range(2,5,2):
    print(i)

2
4

In [37]:
for i in range(10,8,-1):
    print(i)

10
9

In [ ]:
for i in range(10,4,-2):
    print(i)

10
8
6

In [40]:
# string is a collection of characters

str = "Sachin"
for i in str:
    print(i)

S
a
c
h
i
n

In [43]:
# break statement
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [44]:
# continue statement
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [45]:
# pass is a null operation

In [58]:
# Prime nos. between 1 and 100

check_no=15
for i in range(3,check_no+1):
    result = " is a prime no."
    for j in range(2,i):
        if i%j == 0:
            result = " is not a prime no."
            break
    print(i,result)

3  is a prime no.
4  is not a prime no.
5  is a prime no.
6  is not a prime no.
7  is a prime no.
8  is not a prime no.
9  is not a prime no.
10  is not a prime no.
11  is a prime no.
12  is not a prime no.
13  is a prime no.
14  is not a prime no.
15  is not a prime no.

In [66]:
# for else statement
for num in range(1,10):
    if num>1:
        # print("num = ",num)
        for i in range(2,num):
            # print("i = ",i)
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7

# Lists
- ordered, mutable collection of items
- can contain items of different data types

In [68]:
lst=[]
type(lst)

list

In [72]:
names=["sac", "sumit", "sahil",1,2,3,4]
print(names)

['sac', 'sumit', 'sahil', 1, 2, 3, 4]

In [73]:
for i in names:
    print(i)

sac
sumit
sahil
1
2
3
4

In [79]:
names[0]

'sac'

In [85]:
names[-1]

4

In [80]:
names[0][0]

's'

In [76]:
for i in names[0]:
    print(i)

s
a
c

In [84]:
print(names[1:])
print(names[1:2])

['sumit', 'sahil', 1, 2, 3, 4]
['sumit']

In [86]:
names[1]

'sumit'

In [87]:
names[1]="Ashish"

In [88]:
names[1]

'Ashish'

In [90]:
# List methods
names.append("orange")

In [91]:
names

['sac', 'Ashish', 'sahil', 1, 2, 3, 4, 'orange']

In [92]:
names.insert(1,"banana")

In [93]:
names

['sac', 'banana', 'Ashish', 'sahil', 1, 2, 3, 4, 'orange']

In [94]:
names.remove("banana")

In [95]:
names

['sac', 'Ashish', 'sahil', 1, 2, 3, 4, 'orange']

In [96]:
names.pop()

'orange'

In [97]:
names

['sac', 'Ashish', 'sahil', 1, 2, 3, 4]

In [98]:
print(names.index("sahil"))

2

In [99]:
names.insert(1,"banana")

In [100]:
names

['sac', 'banana', 'Ashish', 'sahil', 1, 2, 3, 4]

In [101]:
names.insert(5,"banana")

In [102]:
names

['sac', 'banana', 'Ashish', 'sahil', 1, 'banana', 2, 3, 4]

In [103]:
names.count("banana")

2

In [111]:
names.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [106]:
fruits = ["banana","apple","cherry","guava","watermelon"]

In [109]:
fruits.sort()

In [110]:
fruits

['apple', 'banana', 'cherry', 'guava', 'watermelon']

In [112]:
fruits.reverse()

In [113]:
fruits

['watermelon', 'guava', 'cherry', 'banana', 'apple']

In [115]:
fruits.clear()

In [116]:
fruits

[]

In [120]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [121]:
for index,number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [123]:
# list comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

list comprehension
- Basic syntax - [expression for item in iterable]
- with conditional logic [expression for item in iterable if condition]

In [126]:
# list comprehension
# [expression for item in iterable]
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
[num**2 for num in range(10) if num%2==0]

[0, 4, 16, 36, 64]

In [137]:
# nested list comprehension
lst1=[1,2,3,4]
lst2=['a','b','c','d']
print([[i,j] for i in lst1 for j in lst2])

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [139]:
# List comprehension with function calls
words = ["hello", "world", "python","list","comprehension"]
print([len(word) for word in words])

[5, 5, 6, 4, 13]

# Tuples
tuples are immmuntable

In [141]:
empty_tuple=()
print(empty_tuple)

()

In [143]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [144]:
list[(1,2,3,4,5)]

list[1, 2, 3, 4, 5]

In [145]:
mixed_tuple=(1,'Hello world',3.14,True)

In [147]:
print(mixed_tuple*3)

(1, 'Hello world', 3.14, True, 1, 'Hello world', 3.14, True, 1, 'Hello world', 3.14, True)

In [149]:
print(numbers.count(1))
print(numbers.index(3))

1
2

In [150]:
packed_tuple = 1,'Hello world',3.14
print(packed_tuple)

(1, 'Hello world', 3.14)

In [152]:
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello world
3.14

# Sets

In [153]:
my_set = {1,2,3,4,5,1,2,3}
my_set

{1, 2, 3, 4, 5}

In [154]:
my_set.add(23)

In [155]:
my_set

{1, 2, 3, 4, 5, 23}

In [156]:
my_set.remove(5)

In [157]:
my_set

{1, 2, 3, 4, 23}

In [158]:
my_set.remove(7)

KeyError: 7

In [159]:
my_set.discard(7)

In [160]:
my_set

{1, 2, 3, 4, 23}

In [161]:
my_set.pop()

1

In [162]:
my_set

{2, 3, 4, 23}

In [165]:
# membership test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(8 in my_set)

True
False

In [168]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}

In [169]:
set1.intersection_update(set2)
print(set1)

{4, 5}

In [170]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set1.difference(set2)

{1, 2, 3}

In [171]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8, 9}

In [173]:
set1 = {1,2,3}
set2 = {4,5,6}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [174]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [177]:
## Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()
print(type(words))

unique_words=set(words)
print(unique_words)
print(len(unique_words))

<class 'list'>
{'In', 'we', 'sets', 'this', 'are', 'about', 'discussing', 'tutorial'}
8

# Dictionaries

In [180]:
student={"name":"Sachin", "age":35, "grade":24}
print(student)

{'name': 'Sachin', 'age': 35, 'grade': 24}

In [186]:
print(student["age"])
print(student.get("age"))
print(student.get("last_name"))
print(student.get("last_name","Not available"))

35
35
None
Not available

In [190]:
student["age"]=33
student["address"]="World"
student

{'name': 'Sachin', 'age': 33, 'grade': 24, 'address': 'World'}

In [191]:
del(student["grade"])
student

{'name': 'Sachin', 'age': 33, 'address': 'World'}

In [197]:
keys=student.keys()
values=student.values()
print(keys)
print(values)
print(type(keys))

dict_keys(['name', 'age', 'address'])
dict_values(['Sachin', 33, 'World'])
<class 'dict_keys'>

In [196]:
keys=list(student.keys())
print(keys)
print(type(keys))

['name', 'age', 'address']
<class 'list'>

In [200]:
items=student.items()
print(items)
print(type(items))
print(type(student))

dict_items([('name', 'Sachin'), ('age', 33), ('address', 'World')])
<class 'dict_items'>
<class 'dict'>